@import "./reset.css";
@import "./vars.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 60dvh;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
